@charset "UTF-8";
.Full_back
{
	background-color: #474747;
}
.blockbody
{
	background-color: #92bfb1;
}
.head
{
 text-align: center;
 color: lite blue;
}
.paragraphspace
{
 padding-left: 150px;
 padding-right: 150px;
}
