@charset "UTF-8";
.Full_back
{
	background-color: #474747;
}
.blockbody
{
	background-color: #92bfb1;
}
.head
{
 text-align: center;
	color: white;
}
.paragraphspace
{
padding-left: 50px;
padding-right: 50px;
padding-top: 25px;
padding-bottom: 25px;
}

